.name {
  color: #000000;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

.level {
  color: #000000;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}
