.product {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.name {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
}

.level {
  color: #717578;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.description {
  margin: 5px 0;
}
