.enemyCounter {
	position: relative;
	margin: 0 0 35px 0;
	display: flex;
	align-items: center;
	gap: 10px;
	background: #e4e5e6;
	border-radius: 12px;
	padding: 6px 9px;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.spawnNextWave {
	align-items: center;
	background: linear-gradient(127.93deg, #435bff -2.9%, #0038e5 96.02%);
	border: none;
	border-radius: 6px;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	justify-content: center;
	padding: 6px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.spawnNextWave[disabled] {
	color: #2f3744;
	cursor: not-allowed;
	opacity: 0.5;
}

.tooltip {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	background: #ffffff;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	font-size: 13px;
	line-height: 18px;
	color: #000000;

	animation: fadeIn forwards 0.15s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.nextWaveTimer {
	padding: 3px 8px;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	background: #cacbcc;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
