.wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #00000080;
	z-index: 1000;
	overflow: auto;
}

.modal {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fefefe;
	margin: 15px auto;
	padding: 50px;
	border: 1px solid #888;
	width: 390px;
	border-radius: 40px;
}

.image {
	border-radius: 40px;
	margin-bottom: 45px;
}

.heading {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}
.score {
	font-size: 18px;
	line-height: 10px;
	margin-bottom: 12px;
}
.better {
	margin-bottom: 12px;
}
