.wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #00000080;
	z-index: 1000;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: #fefefe;
	padding: 50px;
	border: 1px solid #888;
	width: 390px;
	border-radius: 40px;
	position: relative;
}

.image {
	border-radius: 40px;
	margin-bottom: 45px;
}

.heading {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}

.heading svg {
	position: relative;
	top: 3px;
}

.headingSmall {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 20px;
}

.brandNameInput {
	all: unset;
	width: calc(100% - 16px);
	font-size: 16px;
	line-height: 30px;
	border: 1px solid #d7d8d9;
	border-radius: 6px;
	padding: 8px;
	margin-top: 24px;
}

.inputCounter {
	font-size: 11px;
	color: #2f3744;
	text-align: right;
	margin-bottom: 32px;
}

.brandNameInput:focus {
	border-color: #0038e5;
}

.stepDescription svg {
	vertical-align: middle;
	margin: 0 2px;
}

.score {
	font-size: 18px;
	line-height: 10px;
	margin-bottom: 12px;
}
.better {
	margin-bottom: 12px;
}
.enemy {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
}

.enemyName {
	color: #2f3744;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 13px;
}

.enemyDescription {
	font-size: 11px;
	line-height: 16px;
	color: #2f3744;
}

.enemyIcon {
	width: 24px;
	height: 24px;
	margin-left: 16px;
}

.descriptions {
	margin-top: 24px;
}

.moduleDescription {
	margin-bottom: 24px;
}

.moduleName {
	display: flex;
	align-items: center;
	color: #2f3744;
	font-size: 15px;
	margin-bottom: 4px;
}

.moduleName svg {
	margin-right: 8px;
}

.footerButtons {
	width: 390px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 32px;
}

.createBrandButtons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 56px;
}

.buttonLink {
	all: unset;
	color: #0038e5;
	text-decoration: underline;
	text-decoration-color: #b3c3f7;
}
