.image {
	border-radius: 40px;
	margin-bottom: 45px;
}

.heading {
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 30px;
	font-weight: bold;
}
.buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 150px;
}
.paused {
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 152px;
	background: #ffffffcf;
	justify-content: center;
	height: 660px;
	width: 660px;
	position: absolute;
}
