.header {
	height: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.creditsTowers {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
}

.scores {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-end;
	gap: 16px;
}

.scoreList {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
