body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  color: #000000;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: #B1B1B1;
}

.App-header {
  align-items: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  gap: 1em;
  justify-content: center;
  margin: 1em;
}

.App-stage {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
}
