.App {
  text-align: center;
}

.App-header {
  align-items: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  gap: 1em;
  justify-content: center;
  margin: 1em;
}

.App-stage {
  aspect-ratio: 16 / 9;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
}
