.button {
  align-items: center;
  background: linear-gradient(127.93deg, #435BFF -2.9%, #0038E5 96.02%);
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  font-family: SF Pro Text;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px;
  justify-content: center;
  margin: 0px;
  padding: 9px 12px;
  text-align: center;
}

.button[disabled] {
  background: linear-gradient(127.93deg, #435BFF -2.9%, #0038E5 96.02%);
  opacity: 0.5;
}

.button:active {
  transform: translateY(1px);
}
