.button {
  align-items: center;
  background: linear-gradient(127.93deg, #435bff -2.9%, #0038e5 96.02%);
  border: 1px solid transparent;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  justify-content: center;
  margin: 0px;
  padding: 6px 9px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button[disabled] {
  border: 1px solid #d7d8d9;
  background: linear-gradient(180deg, #feffff 0%, #f2f4f7 100%);
  color: #2f3744;
  cursor: not-allowed;
}

.button:active {
  transform: translateY(1px);
}
