.enemies {
    position: absolute;
    right: 42px;
    bottom: 84px;
    text-align: right;
    width: 320px;
}

.header {
    all: unset;
    font-weight: bold;
    color: #2F3744;
    font-size: 20px;
    margin-bottom: 24px;
    display: block;
}

.enemiesList {
    opacity: 65%;
}

.enemiesList:hover {
    opacity: 100%;
}

.enemy {
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}

.enemyName {
    color: #2F3744;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
}

.enemyDescription {
    font-size: 11px;
    line-height: 16px;
    color: #2F3744;
}

.enemyIcon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}
