.pauseContainer {
	display: flex;
	align-items: center;
}

.pause {
	all: unset;
	cursor: pointer;

	display: flex;
	align-items: center;
	margin-left: 42px;
}

.pauseText {
	font-size: 16px;
	margin-left: 16px;
	color: #2f3744;
}
