.pause {
    all: unset;
    cursor: pointer;

    display: flex;
    align-items: center;
    position: absolute;
    left: 42px;
    top: 24px;
}

.pauseText {
    font-size: 16px;
    margin-left: 16px;
    color: #2F3744;
}

